{% extends 'main/base.html' %}

{% block title %}
Редактирование учебника
{% endblock %}


{% block content %}
        <div class="features">
            <h1>Редактирование учебника</h1>
            <form method="post" id="edit_form">
                {% csrf_token %}
                {{ form }}
                <script>
                    $('#id_title').attr('value','{{ tb.title }}');
                    $('#id_autor').attr('value','{{ tb.autor }}');
                    $('#id_year').attr('value','{{ tb.year }}');
                    $('#id_clas').attr('value','{{ tb.clas }}');
                    $('#id_iteration').attr('value','{{ tb.iteration }}');
                    $('#id_publisher').attr('value','{{ tb.publisher }}');

                    $('#id_isbn').attr('value','{{ isbn }}');
                    $('#id_isbn').attr('disabled', 'true');

                    $('#id_date').attr('value','{{ now }}');
                    $('#id_date').attr('disabled', 'true');

                    $('#edit_form').on('submit', function(event){
                        event.preventDefault();
                        $('#id_isbn').prop('disabled', false);
                        $('#id_date').prop('disabled', false);
                         $('#edit_form').off()
                        $('#edit_form').submit();
                    });
                </script>
                <br>
                <span>{{ error }}</span>
                <button class="btn btn-success" type="submit">Изменить учебник</button>
                <a href="{% url 'textbook' %}" class="btn btn-secondary" style="color: white">Отмена</a>
            </form>
        </div>
{% endblock %}