<div class="pb-2 container">
    <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'add' %}">Добавить учебник
    </a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'invent' %}">Инвентаризация</a>
</div>
<div class="pb-2 container" id="action-buttons">
    <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'add' %}">
        <button class="btn btn-info">Списать</button>
    </a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'invent' %}">
        <button class="btn btn-danger">Удалить</button>
        </a>
</div>