{% extends 'main/base.html' %}
{% block title %}
Учебники
{% endblock %}

{% block content %}
{% verbatim %}
<div id="app">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="../">Домой</a>
            </li>
            <li v-if="isbn" class="breadcrumb-item">
                <a @click.prevent="goBack" class="link-body-emphasis fw-semibold text-decoration-none"
                   href="">Учебники</a>
            </li>
            <li v-else class="breadcrumb-item active" aria-current="page">Учебники</li>
            <li v-if="isbn" class="breadcrumb-item active" aria-current="page">
                {{isbn}}
            </li>
        </ol>
    </nav>

    <div v-if="!isbn">


        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTextBook"
        @click="focusToElementFromOpenModal('isbnField')">
            Добавить
        </button>

<div class="modal fade" id="addTextBook" tabindex="-1" aria-labelledby="addTextBookLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTextBookLabel">Добавление учебника</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="newTextBookIsbn" class="form-label">ISBN</label>
                    <input type="text" class="form-control" id="newTextBookIsbn" v-model="newTextBookIsbn" ref="isbnField"
                           @keyup.enter="focusToElement('titleField')" @keydown.tab="focusToElement('titleField', $event)"
                           @focus="selectAllText($event)">
                    <small class="text-danger" v-if="newTextBookIsbnError">{{ newTextBookIsbnError }}</small>
                </div>
                <div class="mb-3">
                    <label for="newTextBookTitle" class="form-label">Название</label>
                    <input type="text" class="form-control" id="newTextBookTitle" v-model="newTextBookTitle" ref="titleField"
                           @keyup.enter="focusToElement('autorField')"  @keydown.tab="focusToElement('autorField', $event)"
                           @focus="selectAllText($event)">
                    <small class="text-danger" v-if="newTextBookTitleError">{{ newTextBookTitleError }}</small>
                </div>
                <div class="mb-3">
                    <label for="newTextBookAutor" class="form-label">Автор</label>
                    <input type="text" class="form-control" id="newTextBookAutor" v-model="newTextBookAutor" ref="autorField"
                           @keyup.enter="focusToElement('yearField')"  @keydown.tab="focusToElement('yearField', $event)"
                           @focus="selectAllText($event)">
                    <small class="text-danger" v-if="newTextBookAutorError">{{ newTextBookAutorError }}</small>
                </div>

                <div class="mb-3">
                    <label for="newTextBookInputYear" class="form-label">Год выпуска</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="newTextBookInputYear" ref="yearField"
                               v-model="selectedYear" @keyup.enter="focusToElement('clasField')"  @keydown.tab="focusToElement('clasField', $event)"
                               @focus="selectAllText($event)">
                        <select class="form-select" id="newTextBookSelectedYear" name="newTextBookSelectedYear" v-model="selectedYear"
                                @change="focusToElement('clasField')">
                            <option v-for="year in yearOptions" :key="year" :value="year">{{ year }}</option>
                        </select>
                    </div>
                    <small class="text-danger" v-if="newTextBookYearError">{{ newTextBookYearError }}</small>
                </div>

                <div class="mb-3">
                    <label for="newTextBookClas" class="form-label">Класс</label>
                    <input type="text" class="form-control" id="newTextBookClas" v-model="newTextBookClas" ref="clasField"
                           @keyup.enter="focusToElement('iterationField')"  @keydown.tab="focusToElement('iterationField', $event)"
                           @focus="selectAllText($event)">
                    <small class="text-danger" v-if="newTextBookClasError">{{ newTextBookClasError }}</small>
                </div>
                <div class="mb-3">
                    <label for="newTextBookIteration" class="form-label">Номер издания</label>
                    <input type="text" class="form-control" id="newTextBookIteration" v-model="newTextBookIteration" ref="iterationField"
                           @keyup.enter="focusToElement('publisherField')"  @keydown.tab="focusToElement('publisherField', $event)"
                           @focus="selectAllText($event)">
                    <small class="text-danger" v-if="newTextBookIterationError">{{ newTextBookIterationError }}</small>
                </div>
                <div class="mb-3">
                    <label for="newTextBookPublisher" class="form-label">Издатель</label>
                    <input type="text" class="form-control" id="newTextBookPublisher" v-model="newTextBookPublisher" ref="publisherField"
                           @keyup.enter="focusToElement('addButton')"  @keydown.tab="focusToElement('addButton', $event)"
                           @focus="selectAllText($event)">
                    <small class="text-danger" v-if="newTextBookPublisherError">{{ newTextBookPublisherError }}</small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeModalButton"  data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="addButton" ref="addButton" @click="addTextBook">Добавить</button>
            </div>
        </div>
    </div>
</div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ISBN</th>
                <th>Название</th>
                <th>Класс</th>
                <th>Автор</th>
                <th>Год издания</th>
                <th>Издатель</th>
                <th>Количество</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="textbook in textbooks" :key="textbook.isbn" @click="loadTextbookDetails(textbook.isbn)"
                class="clickable-row">
                <td>{{ textbook.isbn }}</td>
                <td>{{ textbook.data.title }}</td>
                <td>{{ textbook.data.clas }}</td>
                <td>{{ textbook.data.autor }}</td>
                <td>{{ textbook.data.year }}</td>
                <td>{{ textbook.data.publisher }}</td>
                <td>{{ textbook.data.invent_count }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div v-if="isbn">

        <nav class="d-flex align-items-center">
            <a v-if="textbookDetail.length > 0" :href="'/print/multi/' + textbookDetail[0]?.isbn" target="_blank"
               class="btn btn-primary mb-3 mx-2 mt-3">
                Печать всех
            </a>

            <span class="badge d-flex align-items-center text-primary-emphasis bg-primary-subtle border border-primary-subtle ml-2">
                <span class="text-muted my-2 ms-2">Инвентарный номер:</span>
                <input type="number" v-model="inventNumber" min="0" class="mb-0 ms-2" style="width: 100px;"
                    @keyup.enter="focusToElement('inventCountInput')" @focus="selectAllText($event)" >
                <span class="text-muted my-2 ms-2">X</span>
                  <input type="number" v-model="inventCount" min="1" class="mb-0 ms-2" style="width: 50px;"
                     @keyup.enter="apiInvent('add')"  ref="inventCountInput"  @focus="selectAllText($event)" >
                 <button @click="apiInvent('add')" :disabled="addingInventory"
                     class="btn btn-primary mb-0 ms-2">Добавить</button>
            </span>
        </nav>

        <h3>Учебник {{isbn}}: {{bookdata.title}} - {{bookdata.clas}} класс</h3>
        <table v-if="textbookDetail.length > 0" class="table table-striped">
            <thead>
            <tr>
                <th>Инвентарный номер</th>
                <th>Печать</th>
                <th>Удаление</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="inventNumber in textbookDetail" :key="inventNumber.id">
                <td>{{ inventNumber.inv }}</td>
                <td>
                    <a :href="'/print/single/' + inventNumber.isbn + '/' + inventNumber.inv" target="_blank"
                       class="btn btn-primary btn-sm">
                        Печать
                    </a>
                </td>
                <td>
                    <button @click="apiInvent('del', inventNumber.inv)" :disabled="addingInventory"
                            class="btn btn-primary mb-0 ms-2" :disabled="addingInventory">
                        Удалить
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endverbatim %}
{% load static %}
<script src="{% static 'textbook.js' %}"></script>
{% endblock %}
