{% extends 'main/base.html' %}

{% block title %}
Учебник {{ textbook.title }} {{ textbook.clas }} класс
{% endblock %}

{% block local_nav %}
    {% include local_nav %}
{% endblock %}

{% block content %}
<div class="pb-2 container">
    <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'multi_print' isbn %}" target="_blank">
        <button class="btn btn-warning">Печать всех</button>
    </a>
    <a class="me-3 py-2 text-dark text-decoration-none action-buttons" href="{% url 'add' %}">
        <button class="btn btn-info" id="archivAllButton">Списать</button>
    </a>
    <a class="me-3 py-2 text-dark text-decoration-none action-buttons" href="{% url 'invent' %}">
        <button class="btn btn-danger">Удалить</button>
        </a>
</div>
<h2>{{ isbn }} Учебник {{ textbook.title }} - {{ textbook.clas }} класс</h2>
    {% if textbookinvent %}
    <h3>Всего учебников: {{ allinventbook }}</h3>
    <table class="table">
      <thead>
        <tr>
            <th scope="col"><input type="checkbox" id="checkall"  onchange="checkedAllInvent(this)"></th>
            <th scope="col">Инвент номер</th>
            <th scope="col">Дата добавления</th>
            <th scope="col">Наклейка</th>
            <th scope="col">Действие</th>
        </tr>
      </thead>
      <tbody>
        {% for i in textbookinvent %}
        <tr>
            <td><input id="check{{ i.id }}" type="checkbox" class="checkerInvent"></td>
            <th scope="row">{{ i.inv }}</th>
            <td>{{ i.date }}</td>
            <td>
                <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'print' i.isbn i.inv %}" target="_blank">
                    <button class="btn btn-warning">Печать</button>
                </a>
            </td>
            <td>
                <button class="btn btn-info" onClick="arhivbookconfirm('{{ i.inv }}','{{ i.isbn }}', '{% url 'arhivbook' i.inv %}')">Списать</button>
                <button class="btn btn-danger" onClick="delbookconfirm('{{ i.inv }}','{{ i.isbn }}', '{% url 'delbook' i.inv %}')">Удалить</button>
            </td>
        </tr>
        {% endfor %}
          </tbody>
    </table>
    {% else %}
        <span>Не учтено</span>
    {% endif %}
    <h2>Постановка на учет:</h2>
    <form method="post" id="add_form">
        {% csrf_token %}
        <label for="id_qol">Инвентарный номер:</label>
        <input type="text" name="qol" class="form-control" placeholder="Количество книг" maxlength="3" required id="id_qol">
        {{ form }}
        <script>
            $('#id_isbn').attr('value','{{ isbn }}');
            $('#id_isbn').attr('disabled', 'true');
            $('#id_date').attr('value','{{ now }}');
            $('#id_date').attr('disabled', 'true');
            if ({{ inventnumber }}) {
                $('#id_inv').attr('value','{{ inventnumber }}');
            }
            $('#add_form').on('submit', function(event){
                event.preventDefault();
                $('#id_isbn').prop('disabled', false);
                $('#id_date').prop('disabled', false);
                $('#add_form').off()
                $('#add_form').submit();
            });
        </script>
        <br>
        <span>{{ error }}</span>
        <button class="btn btn-success" type="submit">Добавить учебник</button><br><br>
    </form>
{% endblock %}