{% extends 'main/base.html' %}

{% block title %}
Учебники
{% endblock %}

{% block content %}
    {% if textbook %}
    <table class="table">
      <thead>
        <tr>
            <th scope="col">ISBN</th>
            <th scope="col">Название</th>
            <th scope="col">Класс</th>
            <th scope="col">Количество</th>
            <th scope="col">Действие</th>
        </tr>
      </thead>
             <tbody>
        {% for i in textbook %}
       <tr>
            <td scope="row">{{ i.isbn }}</td>
            <td>{{ i.title }}</td>
            <td>{{ i.clas }}</td>
            <td>{{ i.otb }}</td>
            <td>
                <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'bookedit' i.isbn %}">
                    <button class="btn btn-secondary">Редактировать</button>
                </a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'textbook' %}{{ i.isbn }}">
                    <button class="btn btn-success">Открыть</button>
                </a>
            </td>
        </tr>
        {% endfor %}
         </tbody>
    </table>
    {% else %}
        <span>Нет учебников</span>
    {% endif %}
{% endblock %}
