.clickable-row:hover {
    border: 1px solid #aaa; /* Измените на желаемый цвет рамки */
    cursor: pointer;
}


.item-container {
  margin-bottom: 10px;
}
.item {
  display: flex;
  align-items: center;
}
.item-text {
  margin-right: 10px;
}
.edit-input {
  margin-right: 10px;
}
.edit-icon,
.save-icon {
  cursor: pointer;
}