<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ clas }} {{ letter }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'printa4.css' %}">
</head>
<body>
<div class="header">
    <h3>Класс {{ clas }} {{ letter }}</h3>
</div>
<table>
    <thead>
    <tr>
        <th>Номер</th>
        <th>Ученик</th>
        {% for book in group_books %}
            <th>{{ book }}</th>
        {% endfor %}
        <th>Подпись</th>

    </tr>
    </thead>
    <tbody>
    {% for reader in readers %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ reader.last_name }} {{ reader.first_name }}</td>

            {% for title_book in group_books %}
                <td>
                {% for book in reader.book %}
                    {% if book == title_book %}+{% endif %}
                {% endfor %}
                </td>
            {% endfor %}

            <td colspan="3"></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
{#<script>#}
{#    document.addEventListener("DOMContentLoaded", function () {#}
{#        setTimeout(function () {#}
{#            window.print();#}
{#        }, 100);#}
{##}
{#        window.addEventListener("afterprint", function () {#}
{#            setTimeout(function () {#}
{#                window.close();#}
{#            }, 100);#}
{#        });#}
{#    });#}
{#</script>#}