<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ clas }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'printa4.css' %}">
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Штрих-код</th>
        <th>Подпись</th>

    </tr>
    </thead>
    <tbody>
    {% for reader in readers %}
    <tr>
        <td>{{ reader.first_name }}</td>
        <td>{{ reader.last_name }}</td>
        <td><img src="{{ media_root }}{{ reader.url }}" alt="Штрих-код"></td>
        <td colspan="3"></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
            window.print();
        }, 100);

        window.addEventListener("afterprint", function () {
            setTimeout(function () {
                window.close();
            }, 100);
        });
    });
</script>