
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ isbn }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'print.css' %}">
</head>
<body>
    <section>
        <div class="print-6">{{ school }}</div>
        <div class="print-9">{{ textbook.title }}</div>
        <div class="print-9">{{ textbook.clas }} класс</div>
        <img src="{{ media_root }}{{ url }}">
        <div class="print-9">{{ inv_print }}</div>
    </section>
</body>
</html>
<script>
document.addEventListener("DOMContentLoaded", function() {
    setTimeout(function() {
        window.print();
    }, 100);

    window.addEventListener("afterprint", function() {
        setTimeout(function() {
            window.close();
        }, 100);
    });
});
</script>