{% extends 'main/base.html' %}
{% block title %}
Учебники
{% endblock %}

{% block content %}
{% verbatim %}
<div id="app">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="../">Домой</a>
            </li>
            <li v-if="isbn" class="breadcrumb-item">
                <a @click.prevent="goBack" class="link-body-emphasis fw-semibold text-decoration-none"
                   href="../textbook/">Учебники</a>
            </li>
            <li v-else class="breadcrumb-item active" aria-current="page">Учебники</li>
            <li v-if="isbn" class="breadcrumb-item active" aria-current="page">
                {{isbn}}
            </li>
        </ol>
    </nav>

    <div v-if="!isbn">


        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTextBook"
                @click="focusToElementFromOpenModal('isbnField')">
            Добавить
        </button>

        <div class="modal fade" id="addTextBook" tabindex="-1" aria-labelledby="addTextBookLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addTextBookLabel">Добавление учебника</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div v-for="(label, key, index) in namesOfField" :key="key" class="mb-3">
                            <label :for="`newTextBook${key.charAt(0).toUpperCase()}${key.slice(1)}`" class="form-label">{{
                                label }}</label>
                            <input type="text" class="form-control"
                                   :id="`newTextBook${key.charAt(0).toUpperCase()}${key.slice(1)}`"
                                   v-model="newItems[key]"
                                   :ref="`${key}Field`"
                                   @keydown="handleKeyDown(index, key, $event)"
                                   @focus="selectAllText($event)">
                            <div class="text-danger" v-if="errors[key]" :id="`${key}Error`">{{ errors[key] }}</div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="closeModalButton"
                                    data-bs-dismiss="modal">
                                Закрыть
                            </button>
                            <button type="button" class="btn btn-primary" id="addButton" ref="addButton"
                                    @click="addItem">Добавить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ISBN</th>
                <th>Название</th>
                <th>Класс</th>
                <th>Автор</th>
                <th>Год издания</th>
                <th>Издатель</th>
                <th>Количество</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="textbook in moduleData" :key="textbook.isbn" @click="loadTextbookDetails(textbook.isbn)"
                class="clickable-row">
                <td>{{ textbook.isbn }}</td>
                <td>{{ textbook.data.title }}</td>
                <td>{{ textbook.data.clas }}</td>
                <td>{{ textbook.data.autor }}</td>
                <td>{{ textbook.data.year }}</td>
                <td>{{ textbook.data.publisher }}</td>
                <td>{{ textbook.data.invent_count }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div v-if="isbn">

        <h4>Учебник {{isbn}}:</h4>
        <div class="d-flex">
    <span v-for="(value, key) in bookdata" :key="key" v-if="key !== 'invent_count'">
        <span class="item-text mx-3 fs-8">{{ namesOfField[key] }}:</span>
        <span class="badge d-flex align-items-center text-primary-emphasis bg-primary-subtle border border-primary-subtle ml-2 mx-2">
      <span class="item text-muted my-2 ms-2">
        <span v-if="editingIndex === key" class="input-group mb-2">
          <input v-model="editedValue" class="form-control" :ref="'editing' + key"
                 @keyup.enter="saveItem(key)">
          <button class="btn btn-success mx-2" @click="saveItem(key)">
            <i class="fas fa-check"></i>
          </button>
        </span>
        <span v-else class="d-flex align-items-center">

          <span class="item-text flex-grow-1 fs-6">{{ value }}</span>
          <button class="btn btn-primary ms-2" @click="toggleEditing(key)">
            <i class="fas fa-pencil-alt"></i>
          </button>
        </span>
      </span>
        </span>
    </span>
        </div>
        <br>

        <nav class="d-flex align-items-center">
            <a v-if="textbookDetail.length > 0" :href="'/print/multi/' + textbookDetail[0]?.isbn" target="_blank"
               class="btn btn-primary mb-3 mx-2 mt-3">
                Печать всех
            </a>

            <span class="badge d-flex align-items-center text-primary-emphasis bg-primary-subtle border border-primary-subtle ml-2">
                <span class="text-muted my-2 ms-2">Инвентарный номер:</span>
                <input type="number" v-model="inventNumber" min="0" class="mb-0 ms-2" style="width: 100px;"
                       @keyup.enter="focusToElement('inventCountInput')" @focus="selectAllText($event)">
                <span class="text-muted my-2 ms-2">X</span>
                  <input type="number" v-model="inventCount" min="1" class="mb-0 ms-2" style="width: 50px;"
                         @keyup.enter="apiInvent('add')" ref="inventCountInput" @focus="selectAllText($event)">
                 <button @click="apiInvent('add')" :disabled="addingInventory"
                         class="btn btn-primary mb-0 ms-2">Добавить</button>
            </span>
        </nav>

        <table v-if="textbookDetail.length > 0" class="table table-striped">
            <thead>
            <tr>
                <th>Инвентарный номер</th>
                <th>Печать</th>
                <th>Удаление</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="inventNumber in textbookDetail" :key="inventNumber.id">
                <td>{{ inventNumber.inv }}</td>
                <td>
                    <a :href="'/print/single/' + inventNumber.isbn + '/' + inventNumber.inv" target="_blank"
                       class="btn btn-primary btn-sm">
                        Печать
                    </a>
                </td>
                <td>
                    <button @click="apiInvent('del', inventNumber.inv)" :disabled="addingInventory"
                            class="btn btn-primary mb-0 ms-2" :disabled="addingInventory">
                        Удалить
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endverbatim %}
{% load static %}
<script type="module" src="{% static 'textbook.js' %}"></script>
{% endblock %}
