<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock%}</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'vue.js' %}"></script>
    <script src="{% static 'axios.js' %}"></script>

</head>
<body>
    <header class="border-bottom">
    <div class="d-flex pb-2 container">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-5">Система управления библиотекой</span>
      </a>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'home' %}">Домой</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'textbook' %}">Учебники</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'textbook' %}">Ученики</a>
      </nav>
    </div>
    {% block local_nav %}{% endblock%}

  </header>
    <div class="mt-2 container">
        {% block content %}{% endblock%}
    </div>
<script src="{% static 'main.js' %}?{{ rnd }}"></script>
</body>
</html>