<!doctype html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock%}</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}

    {% load static %}

    <script src="{% static 'vue.js' %}"></script>
    <script src="{% static 'axios.js' %}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

</head>
<body>
    <header class="border-bottom">
    <div class="d-flex pb-2 container">
      <a href="{% url 'main' %}" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-5">Школьный Учебниковый Менеджер</span>
      </a>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'textbook' %}">Учебники</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'reader' %}">Читатели</a>
      </nav>
    </div>
    {% block local_nav %}{% endblock%}

  </header>
    <div class="mt-2 container">
        {% block content %}{% endblock%}
    </div>


</body>
</html>