<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Системы управления школой</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h1>Заголовок</h1>
            <img src="your-image.jpg" alt="Ваше изображение" class="img-fluid">
        </div>
        <div class="col-md-4">
            <h1>Система управления библиотекой</h1>
            <a href="{% url 'main' %}" class="btn btn-primary btn-block mt-3">Войти</a>
        </div>
    </div>
</div>

</body>
</html>
