{% extends 'main/base.html' %}
{% block title %}
Ученики
{% endblock %}

{% block content %}
{% verbatim %}
<div id="app">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="../">Домой</a>
            </li>
            <li v-if="detailId" class="breadcrumb-item">
                <a @click.prevent="goBack" class="link-body-emphasis fw-semibold text-decoration-none"
                   href="../reader/">Читатели</a>
            </li>
            <li v-else class="breadcrumb-item active" aria-current="page">Читатели</li>
            <li v-if="detailId" class="breadcrumb-item active" aria-current="page">
                {{detailId}}
            </li>
        </ol>
    </nav>

    <div v-if="!detailId">

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addReader"
                @click="focusToElementFromOpenModal(getFirstField())">
            Добавить
        </button>

        <div class="modal fade" id="addReader" tabindex="-1" aria-labelledby="addReaderLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addReaderLabel">Добавление читателя</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div v-for="(label, key, index) in namesOfField" :key="key" class="mb-3">
                            <label :for="`newReader${key.charAt(0).toUpperCase()}${key.slice(1)}`" class="form-label">{{
                                label }}</label>
                            <input type="text" class="form-control"
                                   :id="`newReader${key.charAt(0).toUpperCase()}${key.slice(1)}`"
                                   v-model="newItems[key]"
                                   :ref="`${key}Field`"
                                   @keydown="handleKeyDown(index, key, $event)"
                                   @focus="selectAllText($event)">
                            <div class="text-danger" v-if="errors[key]" :id="`${key}Error`">{{ errors[key] }}</div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="closeModalButton"
                                    data-bs-dismiss="modal">
                                Закрыть
                            </button>
                            <button type="button" class="btn btn-primary" id="addButton" ref="addButton"
                                    @click="addItem">Добавить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#importCsv">
            Импорт из CSV
        </button>

        <div class="modal fade" ref="importCsv" id="importCsv" tabindex="-1" aria-labelledby="addReaderLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="importCsvLabel">Импорт из файла</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                @click="resetMdal"></button>
                    </div>

                    <div class="modal-body">
                        <div v-if="!filecomplite">
                            <h4>Пример CSV файла:</h4>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Фамилия</th>
                                    <th>Имя</th>
                                    <th>Дата рождения</th>
                                    <th>Класс</th>
                                    <th>Буква</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Иванов</td>
                                    <td>Иван</td>
                                    <td>1/1/2006</td>
                                    <td>7</td>
                                    <td>В</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="col-md-6">
                                <label for="fileInput" class="form-label">Выберите CSV файл</label>
                                <input type="file" class="form-control" id="fileInput" accept=".csv"
                                       @change="handleFileUpload">
                                <progress class="mt-3" :value="uploadProgress" max="100"></progress>
                            </div>
                        </div>

                        <div v-if="filecomplite">
                            <h4>Проверьте правильность разметки данных (всего строк: {{csvCount}}):</h4>
                            <table class="table table-bordered">
                                <tbody>
                                <thead>
                                <tr>
                                    <th>Фамилия</th>
                                    <th>Имя</th>
                                    <th>Дата рождения</th>
                                    <th>Класс</th>
                                    <th>Буква</th>
                                </tr>
                                </thead>
                                <tr v-for="(row, index) in csvdata" :key="index">
                                    <td>{{ row[0] }}</td>
                                    <td>{{ row[1] }}</td>
                                    <td>{{ row[2] }}</td>
                                    <td>{{ row[3] }}</td>
                                    <td>{{ row[4] }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <h4>Если все верно - нажмите "Импорт":</h4>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal" @click="resetMdal">
                                Закрыть
                            </button>
                            <button type="button" class="btn btn-secondary"
                                    @click="resetMdal" v-if="filecomplite">Перезагрузить
                            </button>
                            <button type="button" class="btn btn-primary" id="importButton" ref="importButton"
                                    data-bs-dismiss="modal"
                                    @click="importCsv" v-if="filecomplite">Импорт
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div v-if="!detailId">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Имя</th>
                    <th>Дата рождения</th>
                    <th>Класс</th>
                </tr>
                </thead>
                <tbody>
                <tr
                        v-for="reader in moduleData"
                        :key="reader.id"
                        @click="loadModuleDetails(reader.id)"
                        class="clickable-row"
                >
                    <td>{{ reader.data.last_name }} {{ reader.data.first_name }}</td>
                    <td>{{ formatDate(reader.data.birth_date) }} ({{ calculateAge(reader.data.birth_date) }})</td>
                    <td>{{ reader.data.clas }} {{ reader.data.class_letter }}</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div v-if="detailId">

        <h4>Читатель №{{detailId}}:</h4>

        <div class="d-flex">
            <span v-for="(value, key) in detailData" :key="key" v-if="key !== 'invent_count'">
                <span class="item-text mx-3 fs-8">{{ namesOfField[key] }}:</span>
                <span class="badge d-flex align-items-center text-primary-emphasis bg-primary-subtle border border-primary-subtle ml-2 mx-2">
                    <span class="item text-muted my-2 ms-2">
                    <span v-if="editingIndex === key" class="input-group mb-2">
                        <input v-model="editedValue" class="form-control" :ref="'editing' + key"
                               @keyup.enter="saveItem(key)">
                        <button class="btn btn-success mx-2" @click="saveItem(key)">
                            <i class="fas fa-check"></i>
                        </button>
                    </span>
                    <span v-else class="d-flex align-items-center">
                        <span class="item-text flex-grow-1 fs-6">{{ value }}</span>
                        <button class="btn btn-primary ms-2" @click="toggleEditing(key)">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </span>
                    </span>
                </span>
            </span>
        </div>
        <br>

        <table v-if="moduleDetail.length > 0" class="table table-striped">
            <thead>
            <tr>
                <th>Инвентарный номер</th>
                <th>Печать</th>
                <th>Удаление</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="inventNumber in moduleDetail" :key="inventNumber.id">
                <td>{{ inventNumber.inv }}</td>
                <td>
                    <a :href="'/print/single/' + inventNumber.isbn + '/' + inventNumber.inv" target="_blank"
                       class="btn btn-primary btn-sm">
                        Печать
                    </a>
                </td>
                <td>
                    <button @click="apiInvent('del', inventNumber.inv)" :disabled="addingInventory"
                            class="btn btn-primary mb-0 ms-2" :disabled="addingInventory">
                        Удалить
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
{% endverbatim %}
{% load static %}
<script type="module" src="{% static 'reader.js' %}"></script>
{% endblock %}
