{% extends 'main/base.html' %}
{% block title %}
Ученики
{% endblock %}

{% block content %}
{% verbatim %}
<div id="app">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="../">Домой</a>
            </li>
            <li v-if="detailId" class="breadcrumb-item">
                <a @click.prevent="goBack" class="link-body-emphasis fw-semibold text-decoration-none"
                   href="../reader/">Читатели</a>
            </li>
            <li v-else class="breadcrumb-item active" aria-current="page">Читатели</li>
            <li v-if="detailId" class="breadcrumb-item active" aria-current="page">
                {{detailId}}
            </li>
        </ol>
    </nav>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addReader"
            @click="focusToElementFromOpenModal(getFirstField())">
        Добавить
    </button>

    <div class="modal fade" id="addReader" tabindex="-1" aria-labelledby="addReaderLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addReaderLabel">Добавление читателя</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div v-for="(label, key, index) in namesOfField" :key="key" class="mb-3">
                        <label :for="`newReader${key.charAt(0).toUpperCase()}${key.slice(1)}`" class="form-label">{{
                            label }}</label>
                        <input type="text" class="form-control"
                               :id="`newReader${key.charAt(0).toUpperCase()}${key.slice(1)}`"
                               v-model="newItems[key]"
                               :ref="`${key}Field`"
                               @keydown="handleKeyDown(index, key, $event)"
                               @focus="selectAllText($event)">
                        <div class="text-danger" v-if="errors[key]" :id="`${key}Error`">{{ errors[key] }}</div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="closeModalButton"
                                data-bs-dismiss="modal">
                            Закрыть
                        </button>
                        <button type="button" class="btn btn-primary" id="addButton" ref="addButton"
                                @click="addItem">Добавить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Дата рождения</th>
            <th>Класс</th>
        </tr>
        </thead>
        <tbody>
        <tr
                v-for="reader in moduleData"
                :key="reader.id"
                @click="loadModuleDetails(reader.id)"
                class="clickable-row"
        >
            <td>{{ reader.last_name }} {{ reader.first_name }}</td>
            <td>{{ formatDate(reader.birth_date) }} ({{ calculateAge(reader.birth_date) }})</td>
            <td>{{ reader.clas }} {{ reader.class_letter }}</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
{% endverbatim %}
{% load static %}
<script type="module" src="{% static 'reader.js' %}"></script>
{% endblock %}
